

<h1>Admin Dashboard</h1>

<div class="alert alert-info" >
<p>There exist <b><%= @product_count %> products </b> in the database </p>
</div>

<div class="alert alert-info" >
<p>There exist <b><%= @category_count %> categories</b> in the database</p>
</div>
