


<div class="about">
  <div> 
    <h2>Welcome to the Jungle</h2>
    <p>Here at jungle outfitters we pride ourselves on supplying the craziest most unique items.</p>
    <h3> Start Exploring Today </h3>
  </div>
</div>

